/* Container */
.flag-rating {
  display: inline-block;
  --gold: #ffd700;
}
/* List of items */
.flag-rating-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Single item */
.flag-rating-icon {
  display: block;
  margin: auto;
  outline: none;
  padding: .25rem;
}
/* Image */
.flag-rating-icon img,
.flag-rating-icon svg {
  min-width: 30px;
  min-height: 30px;
}
.flag-rating-icon svg {
  color: transparent;
}
.flag-rating-icon.is-active svg {
  fill: var(--gold);
}
.flag-rating-icon__icon,
.flag-rating-icon__label,
.flag-rating-icon__rating,
.flag-rating-icon__rate,
.flag-rating-icon__separator,
.flag-rating-icon__max {
  display: inline-block;
  vertical-align: middle;
}
