{#
/**
 * Theme implementation of a single Flag Rating icon link's item.
 */
#}
{%
  set classes = [
    'flag-rating-icon',
    'flag-rating-icon-' ~ flag.id()|clean_class,
    'flag-rating-icon-' ~ flaggable.bundle(),
    'flag-rating-icon-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    rate <= score ? 'is-active',
    'use-ajax',
  ]
%}
{% 
  set title_detailed = title ~ ': ' ~ rate ~ '' ~ separator ~ '' ~ max
%}
<a href="{{ href }}" class="{{ classes|join(' ') }}" title="{{ title_detailed }}">
  {% if icon %}
    <span class="flag-rating-icon__icon">{{ icon|render }}</span>
  {% endif %}
  <span class="flag-rating-icon__rating{% if icon %} visually-hidden{% endif %}">
    <span class="flag-rating-icon__label">{{ label }}</span>
    <span class="flag-rating-icon__rate">{{ rate }}</span>
    <span class="flag-rating-icon__separator">{{ separator }}</span>
    <span class="flag-rating-icon__max">{{ max }}</span>
  </span>
</a>
